<mat-card>Ingrese los datos del Especialista</mat-card>
<br>
<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #frmEspecialista="ngForm">
  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="ingrese el apellido " required formControlName="apellido">
  </mat-form-field>  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="ingrese el nombre" required formControlName="nombre">
  </mat-form-field>  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="ingrese el rut" required formControlName="rut">
  </mat-form-field>  
    <button mat-raised-button color="primary" type="submit" [disabled]="frmEspecialista.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
    </button>
    <button mat-raised-button color="warn" routerLink='/especialista' type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
    </button>
</form>